/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

/* Re-adicionando temporariamente o bootstrap para não quebrar as páginas legadas */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Fix para Bootstrap conflitando com Tailwind em botões */
.btn {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}